/* Global */
html,
body {
    background-color: #FFFAFA;
    font-family: "fira", sans-serif; 
    font-size: 16px;
    line-height: 1.3em;

    width: 100%;

    margin: 0px;

    /* flex stuff */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    scroll-behavior: smooth;
}

h1 {
    font-family: "fira-light";
    font-weight: normal;
}

h2, h3, h4{
    font-family: "fira";
    font-weight: normal;
}

/* Links */
body a {
    color: #9999F0;
/*    font-weight: bold;*/
    text-decoration: none;
}

/* All content */
main, header, nav {
    background-color: #FFFAFA;
    max-width: 1200px;
    z-index: 5;
}

/* Banner */
header {
    background-color: inherit;
    padding: 25px;
    font-family: monospace;
    text-align: center;
}

/* Main content */
main {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*gap: 1em;*/
}

main section {
    padding: 22px;
/*    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 0px;
    margin-right: 0px;*/
    width: 100%;
    box-sizing: border-box;
    flex: 2;
    float: left;
}

/* Footer */
footer {
    background-color: #333366;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.splits {
    width: 100%;
    height: 100vh;
    /*background-color: #333366;*/
/*    position: absolute;
    top: 0px;
    right: 0px;*/
    z-index: 2;
}

.split {
    float:left;
    width: 50%;
    height: 100%;
/*    opacity: 0.1;
    transition: 0.5s;*/
}


.splitcurtain
{
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;
    background-color: #333366;
    opacity: 0.9;
    transition: 0.5s;
}

.splitcurtain:hover {opacity: 0}


.splitimg {
    float: left;
    width:50%; 
    height:50%; 
    object-fit:cover;
    z-index: 2;
}


.splitText {
    color: #FFFFFF;
    position: absolute;
    bottom: 2%;
    height: 120px;
    width: 50%;
    text-align: center;
    font-size: 25px;
    font-family: "fira", sans-serif;
    pointer-events: none; 
    z-index: 6;
}

.split-arrow {
    position: absolute;
    bottom: 2%;
    height: 50px;
    width: 50%;
    display: block;
    object-fit: contain;
    pointer-events: none; 
    z-index: 6;
}

.section-header {
    text-align: center; 
    font-size: 42px;
}

.namePanel {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 760px;
    font-family: "fira-light", sans-serif;
    text-align: center;
    color: #FFFFFF;

    /*color: #605BA3;*/
    font-size: 25px;

    padding: 15px;
    border-radius: 20px;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 5;
}


.nameText {
    opacity: 1;
}

.icons {
    margin: 5px;
    margin-top: 26px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.0);
    color: #FFFFFF;
    border-radius: 50%;
    /*border-width: 2px;
    border-style: solid;*/
    border: 2px solid #FFFFFF;
    display: inline-block;
    height: 50px;
    width: 50px;
    transition: 0.2s;
}

.icons:hover {background-color: rgba(102, 102, 204, 1.0);}

.iconimg {
    height: 50px;
    width: 50px;
    transition: 0.2s;
    color: #FFFFFF;
}

.iconimg:hover {color: #000000;}

.projectimg {
    float: left;
    width: 300px;
    object-fit: fill;
    margin: 16px;
    border-radius: 4px;
}


@font-face {
  font-family: rubik;
  src: url(font/rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: fira;
  src: url(font/fira/FiraSans-Regular.ttf);
}

@font-face {
  font-family: fira-light;
  src: url(font/fira/FiraSans-Light.ttf);
}